version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.8
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: install dependencies
          command: pipenv install -d
      - save_cache:
          paths:
            - ~/.local/share/virtualenvs
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: check types
          command: pipenv run check_types
      - run:
          name: check formatting
          command: pipenv run check_formatting
      - run:
          name: check linting
          command: pipenv run lint
